@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --background-color: #404447;
  --primary-color: #4d61ff;
  --white-color: #ffffff;
  --black-color: black;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/* header */
header {
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 0px 60px;
  /* margin: 0px auto; */
}
.logo {
  height: 50px;
  width: 50px;
}

.logo img {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
}
.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icons ._icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.icons svg {
  color: var(--white-color);
  font-size: 16px;
}
._button {
  height: fit-content;
  width: fit-content;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 8px 22px;
  font-family: var(--primary-font);
  color: var(--white-color);
  font-weight: 600;
}

/* main  */

/* section one */

.container_section_one {
  background-color: var(--background-color);
}
.section_one {
  display: flex;
  /* font-family: var(--secondary-font); */
  width: 85%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  place-items: center;
  margin: auto;
  height: 100vh;
}

.section_one .first_line {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}
.section_one .second_line {
  font-size: 80px;
  font-weight: 100;
  color: var(--white-color);
  text-transform: uppercase;
  width: 60px;
  margin-top: 15px;
  line-height: 80px;
}
.image {
  display: flex;
  height: 650px;
  width: 600px;

}
.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* box-shadow: 5px 15px rgba(255, 255, 255, 0.2); */

}

/* section two */

.section_two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #151719;
}
.about_row {
  display: flex;
  justify-content: center;

  gap: 20px;
}
.smart_solutions_box {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #1b1e21;
  height: fit-content;
  width: fit-content;
  padding: 35px 80px 35px 25px;
  border-radius: 10px;
  margin-top: -60px;
}
.tick_icon {
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 40px;
  padding: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.beside_tick_icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.smart_solutions {
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.smart_solutions span {
  font-style: italic;
  font-family: "Playfair Display", serif;
}
.providing {
  color: #808080;
  font-family: var(--primary-font);
  font-size: 16px;
  text-transform: capitalize;
}

/* after "our mission" */

.our_mission {
  display: flex;
  gap: 5px;
  justify-content: center;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 90px;
}
.our_mission span {
  font-style: italic;
  font-family: "Playfair Display", serif;
}
.descripton {
  /* display: flex; */
  /* justify-content: center; */
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  width: 60%;
  text-align: center;
  font-weight: 300;
  font-family: var(--primary-font);
  margin: 40px auto;
  /* width: 500px; */
}
.descripton span {
  text-decoration: underline;
}

.second_description {
  display: flex;
  justify-content: center;
  color: #808080;
  font-family: var(--primary-font);
  font-size: 18px;
}

/* four images  */
.photos {
  display: flex;
  /* justify-content: center; */
  gap: 25px;
  width: 80%;
  margin: 100px auto;
}
.individual_photos {
  position: relative;
}
.photos img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.contents_inside_photo {
  position: absolute;
  display: flex;
  bottom: 70px;
  flex-direction: column;
  gap: 30px;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}
.text_inside_photo {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 700;
  text-transform: capitalize;
}
.more_details_button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: fit-content;
  color: var(--white-color);
  padding: 10px 30px;
  border-radius: 23px;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--primary-font);
}
.more_details_button svg {
  color: var(--white-color);
  font-size: 22px;
}

/* our services section  */
.section_our_services {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: #4d61ff;
}
.services_section {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 80%;
  margin: 90px auto;
}
.container_for_services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  /* place-content: center;
  place-items: center; */
}

.our_services {
  font-size: 42px;
  font-family: var(--primary-font);
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}
.our_services span {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.wordpress_container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.wordpress_logo{
  background-color: var(--white-color);
  font-size: 30px;
  color: var(--primary-color);
  padding: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.wordpress_logo svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.beside_wordpress_logo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.wordpress_firstline{
  font-family: var(--primary-font);
  font-size: 23px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}
.wordpress_firstline span{
  font-style: italic;
  font-family: "Playfair Display", serif;
  
}
.wordpress_secondline{
  color: #cfd4ff;
  font-family: var(--primary-font);
  font-size: 16px;
  text-transform: capitalize;
}

/* Team members section */

.expert_team_section{
  background-color: #151719;
  
}
.container_for_expert_section{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: whitesmoke;

}
.our_expert_team{
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  font-family: var(--primary-font);
  font-weight: 700;
  padding-top: 120px;
}
.our_expert_team span{
  font-family: "Playfair Display", serif;
  font-style: italic;
}

/* four photos */
.four_photos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: 60px auto;
}
.four_photos div{
  width: 100%;
}
.four_photos img{
  object-fit: cover;
  border-radius: 20px;
  border-bottom: 2.5px solid var(--primary-color);
  width: 100%;
  height: 100%;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: var(--primary-font);
  text-transform: capitalize;
  text-align: center;
}
.Jimmy{
  color: #fff;
  font-size: 24px;
  font-weight:700;
}
.Jimmy span{
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.founder{
  color: #999999;
  font-size: 15px;
}

/* two photos part */
.two_photos{
  display: flex;
  height: 500px;
  width: 100%;
  margin: 60px auto;
}
.two_photos .photo{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.two_photos .photo img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.photo_text{
  position: absolute;
  left: 7%;
  bottom: 10%;
  color: #fff;
  font-family: "Playfair Display", serif;
  text-transform: none;
  font-size: 30px;
  font-weight: 500;
  word-spacing: 2px;
}
.we_will_help_part{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.we_will_help_line{
  text-align: center;
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 34px;
  font-family: var(--primary-font);
  font-weight: 700;
  padding-top: 20px;
}
.we_will_help_part span{
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-style: italic;
}
.we_are_here_line{
  text-align: center;
  color: #808080;
  font-weight: 300;
  font-size: 20px;
  font-family: var(--primary-font);
}

/* experiences part */
.experiences_part{
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* width: 60%; */
  text-align: center;
  margin: 50px auto;
}
.individual_experiences_part{
  display: flex;
  flex-direction: column;
  gap: 3px;

}
.experience_value{
  font-family: var(--primary-font);
  font-size: 90px;
  color: var(--primary-color);
  font-weight: 200;
}
.years_of{
  color: #eaeaea;
  font-size: 16px;
  font-family: var(--primary-font);
}

/* review part */
.review_part{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  margin: 50px auto;
  background-color: var(--white-color);
  border-radius: 20px;
}
.review_photo{
  height: 80px;
  width: 80px;
  margin-top: -40px;
  align-self: center;
}
.review_photo img{
  border-radius: 50px;
  object-fit: cover;
  object-position: 30%;
  height: 100%;
  width: 100%;
}
.review_name{
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}
.review_name span{
  color: var(--black-color);
  font-weight: 100;
  font-size: 17px;
}
.review_description{
  color: #000000;
  text-align: center;
  line-height: 2;
  font-size: 16px;
  font-family: var(--primary-font);
  /* overflow-wrap: break-word; */
  padding:10px 20px 35px 20px;
  width: 900px;
}

/* github part */
.github_part{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: 70px auto;
}
.github_part div{
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
}
.github_part div img{
  object-fit: contain;
  width: 80%;
  height: 100%;

}

/* footer part starts here */
/* top footer */
.footer_part{
  background-color: var(--primary-color);
}
.top_footer_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 85px;
  width: 80%;
  margin: 0px auto;
  height: 350px;
  padding-top: 60px;
  font-family: var(--primary-font);
  color: #fff;
}

/* office column */
.office{
  color: #fff;
  font-size: 18px;
  font-family: var(--primary-font);
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding-bottom: 13px;
  text-transform: capitalize;
}
.office_column, .news_column{
  display: flex;
  flex-direction: column;
}
.second_part{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
  
}
.individual_row{
  display: flex;
  gap: 6px;
  align-items: center;

}
.icon{
  height: 20px;
  width: 20px;
  color: var(--primary-color);
  background-color: var(--white-color);
  padding: 9px;
  border-radius: 30px;

}
.individual_detail{
  font-size: 16px;
}
.place_of_silence_row, .how_to_create_row{
  display: flex;
  gap: 20px;
}
.how_to_create_row{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}
.first_image{
  width: 30%;
  height: 85px;
}
.first_image img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.image_detail{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.place_of_silence_text{
  font-weight: 700;
  font-size: 18px;
}
.date_row{
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  font-size: 14px;
}
.clock_icon svg{
  height: 14px;
  width: 14px;
}
.second_image{
  width: 50%;
  height: 80px;
}
.second_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* shortcuts column starts here */
.shortcuts_columns{
  display: flex;
  flex-direction: column;

}

/* footer navigation lists */
.navigation_lists{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
}
.navigation_lists a{
  color: #ffffff;
  text-decoration: none;
}
.first_list{
  display: flex;
  gap: 6px;
}
._lists{
  text-transform: capitalize;
}
.arrow_icon svg{
  /* font-weight: 700; */
  /* why the f*ck it's not working mannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
}

/* working hours column starts here */
.second_part_of_working_hour_column{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.working_hour_description{
  line-height: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 25px;
}
.time_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.time_container span{
  font-weight: 100;
  color: rgba(255, 255, 255, 0.3);
  padding: 0px 8px 0px 8px;
  font-size: 15px;
  letter-spacing: 1.5px;
}


/* bottom footer */
.bottom_footer_container{
  background-color: #151719;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 150px 25px 150px;
}

.copyright, .privacy_policy_contact{
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--primary-font);
  align-items: center;
  text-transform: capitalize;
}
.privacy_policy_contact{
  font-size: 14px;
}
.privacy_policy{
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 20px;
}